<ion-header>
  <ion-navbar>
    <ion-title>
      Check List
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-fab right bottom>
		<button ion-fab (click)="addCheck()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<progressbar progress="{{totalProgress}}"></progressbar>
	<ion-list>
		<ion-card *ngFor="let category of categories">
			<ion-card-header>
				{{category.Name}}
				<progressbar progress={{category.Progress}}></progressbar>
			</ion-card-header>
			<ion-card-content>
				<ion-list>
					<ion-item-sliding *ngFor="let item of category.Data">
						<ion-item>
							<ion-label>{{item.Name}}</ion-label>
							<ion-checkbox (ionChange)="updateChecked($event, item)" checked={{item.Checked}}></ion-checkbox>
						</ion-item>
						<ion-item-options side="right">
							<button ion-button (click)="modifyItem(item)">
								<ion-icon name="brush"></ion-icon>
								Edit
							</button>
							<button ion-button color="danger" (click)="removeItem(item)">
								<ion-icon name="trash"></ion-icon>
								Remove
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-card-content>
		</ion-card>
	</ion-list>
</ion-content>